/10/cachegrind.out.12343
/10/cachegrind.out.12347
/10/cachegrind.out.12351
/10/cachegrind.out.12363
/10/cachegrind.out.12370
/10/cachegrind.out.12386
/10/cachegrind.out.12390
/10/faster0
/10/faster1
/10/faster2
/10/faster3
/10/fastest0
/10/fastest1
/10/fastest2
/10/fastest3
/10/fastest3target
/10/slow0
/10/slow0target
/10/slow1
/10/slow2
/10/slow3
/11/VMS/.tmp_versions/vms.mod
/11/VMS/.vms.ko.cmd
/11/VMS/.vms.mod.o.cmd
/11/VMS/.vms.o.cmd
/11/VMS/Module.symvers
/11/VMS/Qt/deployment.pri
/11/VMS/Qt/main.o
/11/VMS/Qt/mainwindow.o
/11/VMS/Qt/moc_mainwindow.cpp
/11/VMS/Qt/moc_mainwindow.o
/11/VMS/Qt/qt_test2
/11/VMS/Qt/qt_test2.pro.user
/11/VMS/Qt/ui_mainwindow.h
/11/VMS/modules.order
/11/VMS/vms.ko
/11/VMS/vms.mod.c
/11/VMS/vms.mod.o
/11/VMS/vms.o
/12/.main.cpp.swp
/12/e12
/12/makefile~
/12/optional/e12
/12/optional/makefile~
/2/2-bus-timings
/3/1~
/4/.hello.ko.cmd
/4/.hello.mod.o.cmd
/4/.hello.o.cmd
/4/.tmp_versions/hello.mod
/4/Makefile.works
/4/Module.symvers
/4/hello.ko
/4/hello.mod.o
/4/hello.o
/4/modules.order
/5/.my_gpio.ko.cmd
/5/.my_gpio.mod.o.cmd
/5/.my_gpio.o.cmd
/5/.tmp_versions/my_gpio.mod
/5/Module.symvers
/5/modules.order
/5/my_gpio.c.borked
/5/my_gpio.ko
/5/my_gpio.mod.o
/5/my_gpio.o
/6/.interrupt.ko.cmd
/6/.interrupt.mod.o.cmd
/6/.interrupt.o.cmd
/6/.tmp_versions/interrupt.mod
/6/Module.symvers
/6/interrupt.c.works
/6/interrupt.ko
/6/interrupt.mod.c
/6/interrupt.mod.o
/6/interrupt.o
/6/modules.order
/6/xmodules.order
/7/.ads7870-core.o.cmd
/7/.ads7870-spi.o.cmd
/7/.ads7870.o.cmd
/7/.ads7870mod.ko.cmd
/7/.ads7870mod.mod.o.cmd
/7/.ads7870mod.o.cmd
/7/.tmp_versions/ads7870mod.mod
/7/Module.symvers
/7/ads7870-core.o
/7/ads7870-spi.o
/7/ads7870.o
/7/ads7870mod.ko
/7/ads7870mod.mod.c
/7/ads7870mod.mod.o
/7/ads7870mod.o
/7/dac.png
/7/dacSchematic.png
/7/modules.order
/8/.mygpio_basic.ko.cmd
/8/.mygpio_basic.mod.o.cmd
/8/.mygpio_basic.o.cmd
/8/.tmp_versions/mygpio_basic.mod
/8/Makefile
/8/Module.symvers
/8/Test app/a.out
/8/Test app/main.cpp
/8/Test app/testapp
/8/modules.order
/8/mygpio_basic.c
/8/mygpio_basic.ko
/8/mygpio_basic.mod.c
/8/mygpio_basic.mod.o
/8/mygpio_basic.o
/9/.mygpio_basic.ko.cmd
/9/.mygpio_basic.mod.o.cmd
/9/.mygpio_basic.o.cmd
/9/.tmp_versions/mygpio_basic.mod
/9/Module.symvers
/9/modules.order
/9/mygpio_basic.ko
/9/mygpio_basic.mod.c
/9/mygpio_basic.mod.o
/9/mygpio_basic.o
